<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>필터 test</title>
    <!-- css -->
    <link rel="stylesheet" href="/dist/css/main.css">
    <!-- 내부 js -->
    <script src="/dist/js/main.js"></script>
</head>

<body id="filter" class="fb">
    <section class="fb__filter">
        <h2 class="fb__title--hidden">filter 연습</h2>

        <!-- 선택 영역 -->
        <div class="fb__filter__cont">
            <!-- 가격 -->
            <dl class="fb__filter__wrapper">
                <dt class="fb__filter__title">가격</dt>
        
                <dd class="fb__filter__inner">
                    <label class="fb__filter__list js__filter__list">
                        <input type="radio" name="price" checked>
                        <span>전체</span>
                    </label>
        
                    <label class="fb__filter__list js__filter__list">
                        <input type="radio" name="price">
                        <span>~ 1만원</span>
                    </label>
        
                    <label class="fb__filter__list js__filter__list">
                        <input type="radio" name="price">
                        <span>1만원 ~ 3만원</span>
                    </label>
        
                    <label class="fb__filter__list js__filter__list">
                        <input type="radio" name="price">
                        <span>3만원 ~ 6만원</span>
                    </label>
        
                    <label class="fb__filter__list js__filter__list">
                        <input type="radio" name="price">
                        <span>6만원 ~ 9만원</span>
                    </label>
        
                    <label class="fb__filter__list js__filter__list">
                        <input type="radio" name="price" class="js__inputSelf__open">
                        <span>직접입력</span>
                    </label>
                </dd>

                <dd class="fb__filter__textBox js__inputSelf__cont">
                    <div>
                        <label class="textBox__inner">
                            <input type="text">
                        </label>
    
                        <label class="textBox__inner">
                            <input type="text">
                        </label>
                    </div>

                    <button type="button" class="textBox__button">적용</button>
                </dd>
            </dl>
        
            <!-- 카테고리 -->
            <dl class="fb__filter__wrapper">
                <dt class="fb__filter__title">카테고리</dt>
        
                <dd class="fb__filter__inner">
                    <label class="fb__filter__list js__filter__list">
                        <input type="checkbox">
                        <span>스킨/토너</span>
                    </label>
        
                    <label class="fb__filter__list js__filter__list">
                        <input type="checkbox">
                        <span>로션</span>
                    </label>
        
                    <label class="fb__filter__list js__filter__list">
                        <input type="checkbox">
                        <span>에센스</span>
                    </label>
        
                    <label class="fb__filter__list js__filter__list">
                        <input type="checkbox">
                        <span>아이케어</span>
                    </label>
        
                    <label class="fb__filter__list js__filter__list">
                        <input type="checkbox">
                        <span>크림</span>
                    </label>
        
                    <label class="fb__filter__list js__filter__list">
                        <input type="checkbox">
                        <span>페이스오일</span>
                    </label>
                </dd>
            </dl>
        
            <!-- 브랜드 -->
            <dl class="fb__filter__wrapper">
                <dt class="fb__filter__title">브랜드</dt>
        
                <dd class="fb__filter__inner">
                    <label class="fb__filter__list js__filter__list">
                        <input type="checkbox">
                        <span>3CE</span>
                    </label>
        
                    <label class="fb__filter__list js__filter__list">
                        <input type="checkbox">
                        <span>프리메라</span>
                    </label>
        
                    <label class="fb__filter__list js__filter__list">
                        <input type="checkbox">
                        <span>조말론</span>
                    </label>
        
                    <label class="fb__filter__list js__filter__list">
                        <input type="checkbox">
                        <span>닥터브라운</span>
                    </label>
        
                    <label class="fb__filter__list js__filter__list">
                        <input type="checkbox">
                        <span>바닐라코</span>
                    </label>
        
                    <label class="fb__filter__list js__filter__list">
                        <input type="checkbox">
                        <span>헤라</span>
                    </label>
                </dd>
            </dl>
        </div>
        
        <!-- 선택한 리스트 영역 -->
        <ul class="fb__filter__print js__filter__print"></ul>
    </section>
</body>
</html>