<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <title>오렌즈 추가개발 - 모바일 사은품 </title>
        <!-- css -->
        <link rel="stylesheet" href="/dist/css/main.css">
        <!-- 내부 js -->
        <script src="/dist/js/main.js"></script>
    </head>
    <body id="olenzFreegift" class="mo">

        <section class="mo__freegift">

            <div class="freegift">
                <header class="freegift__header">
                    <h3 class="freegift__title">Free Gifts</h3>
                    <button class="freegift__header__button js__gift__open">Select</button>
                </header>
    
                <div class="freegift__cont">

                    <!-- 선택사항이 없을 경우에는 freegift__selected--null -->
                    <ul class="freegift__selected">
                        <!-- <li class="freegift__selected__list">
                            <figure class="freegift__selected__img">
                                <img src="../../src/images/olenz/img-freegift.png">
                            </figure>
                            <div class="freegift__selected__info">
                                <p class="freegift__selected__name">Scandi 1Day Gray (20p)</p>
                                <p class="freegift__selected__power">Power: -1.00</p>
                                <p class="freegift__selected__qty">Qty : 1</p>
                            </div>
                        </li> -->
                        <li class="freegift__selected__list">
                            <figure class="freegift__selected__img">
                                <img src="../../src/images/olenz/img-freegift.png">
                            </figure>
                            <div class="freegift__selected__info">
                                <p class="freegift__selected__name">Scandi 1Day Gray (20p)</p>
                                <p class="freegift__selected__power">Power: -1.00</p>
                                <p class="freegift__selected__qty">Qty : 1</p>
                            </div>
                        </li>
    
                        <!-- 선택사항이 없을 때 -->
                        <!-- <li class="freegift__selected__list">
                            <div class="freegift__selected__info">
                                <p>You did not select any free gifts.</p>
                            </div>
                        </li> -->
                    </ul>
                </div>

                <!-- 안내사항 -->
                <ul class="freegift__notice">
                    <li class="freegift__notice__list">
                        When order returns due to change of mind, the coupon used cannot be returned.
                    </li>
                    <li class="freegift__notice__list">
                        For order return due to change of mind, free gifts must be returned together in original condition.
                    </li>
                </ul>
            </div>
        </section> 

        <section class="mo__selectgift js__gift__layer">

            <div class="selectgift">
                <header class="freegift__header">
                    <h3 class="freegift__title">Select a free gift</h3>   
                    <button class="selectgift__close js__gift__close">close</button>
                </header>
                
                <div class="selectgift__cont">
                    <div class="selectgift__top">
                        <p>
                            <em>1</em><!--  
                            --><span>/2 Free gifts available</span> 
                        </p>
                        <button class="selectgift__button--later js__gift__later">Not for this time</button>
                        <button class="selectgift__button--complete js__gift__complete">Complete</button>
                    </div>

                    <ul class="selectgift__select">
                        <li class="selectgift__select__list">
                            <figure class="freegift__popup__img">
                                <img src="../../src/images/olenz/img-freegift.png">
                                <input type="checkbox" id="selectgift__item01">
                                <label class="selectgift__select__item" for="selectgift__item01"></label>
                            </figure>

                            <div class="selectgift__select__info">
                                <p class="selectgift__select__name">Scandi Hazel</p>
                                
                                <select class="selectgift__select__power" name="power__select">
                                    <option value="-1.00">select</option>
                                    <option value="-1.00">-1.00</option>
                                    <option value="-1.50">-1.50</option>
                                    <option value="-2.00">-2.00</option>
                                </select>
                                
                                <p class="selectgift__select__qty">
                                    <button class="selectgift__select__qty--minus">-</button>
                                    <span class="selectgift__select__qty--value">1</span>
                                    <button class="selectgift__select__qty--plus">+</button>
                                </p>
                            </div>  
                        </li>
                        <li class="selectgift__select__list">
                            <figure class="freegift__popup__img">
                                <img src="../../src/images/olenz/img-freegift.png">
                                <input type="checkbox" id="selectgift__item02">
                                <label class="selectgift__select__item" for="selectgift__item02"></label>
                            </figure>

                            <div class="selectgift__select__info">
                                <p class="selectgift__select__name">Scandi Hazel</p>
                                
                                <select class="selectgift__select__power" name="power__select">
                                    <option value="-1.00">select</option>
                                    <option value="-1.00">-1.00</option>
                                    <option value="-1.50">-1.50</option>
                                    <option value="-2.00">-2.00</option>
                                </select>
                                
                                <p class="selectgift__select__qty">
                                    <button class="selectgift__select__qty--minus">-</button>
                                    <span class="selectgift__select__qty--value">1</span>
                                    <button class="selectgift__select__qty--plus">+</button>
                                </p>
                            </div>  
                        </li>
                        <li class="selectgift__select__list">
                            <figure class="freegift__popup__img">
                                <img src="../../src/images/olenz/img-freegift.png">
                                <input type="checkbox" id="selectgift__item03">
                                <label class="selectgift__select__item" for="selectgift__item03"></label>
                            </figure>

                            <div class="selectgift__select__info">
                                <p class="selectgift__select__name">Scandi Hazel</p>
                                
                                <select class="selectgift__select__power" name="power__select">
                                    <option value="-1.00">select</option>
                                    <option value="-1.00">-1.00</option>
                                    <option value="-1.50">-1.50</option>
                                    <option value="-2.00">-2.00</option>
                                </select>
                                
                                <p class="selectgift__select__qty">
                                    <button class="selectgift__select__qty--minus">-</button>
                                    <span class="selectgift__select__qty--value">1</span>
                                    <button class="selectgift__select__qty--plus">+</button>
                                </p>
                            </div>  
                        </li>
                        <li class="selectgift__select__list">
                            <figure class="freegift__popup__img">
                                <img src="../../src/images/olenz/img-freegift.png">
                                <input type="checkbox" id="selectgift__item04">
                                <label class="selectgift__select__item" for="selectgift__item04"></label>
                            </figure>

                            <div class="selectgift__select__info">
                                <p class="selectgift__select__name">Scandi Hazel</p>
                                
                                <select class="selectgift__select__power" name="power__select">
                                    <option value="-1.00">select</option>
                                    <option value="-1.00">-1.00</option>
                                    <option value="-1.50">-1.50</option>
                                    <option value="-2.00">-2.00</option>
                                </select>
                                
                                <p class="selectgift__select__qty">
                                    <button class="selectgift__select__qty--minus">-</button>
                                    <span class="selectgift__select__qty--value">1</span>
                                    <button class="selectgift__select__qty--plus">+</button>
                                </p>
                            </div>  
                        </li>
                        <li class="selectgift__select__list">
                            <figure class="freegift__popup__img">
                                <img src="../../src/images/olenz/img-freegift.png">
                                <input type="checkbox" id="selectgift__item05">
                                <label class="selectgift__select__item" for="selectgift__item05"></label>
                            </figure>

                            <div class="selectgift__select__info">
                                <p class="selectgift__select__name">Scandi Hazel</p>
                                
                                <select class="selectgift__select__power" name="power__select">
                                    <option value="-1.00">select</option>
                                    <option value="-1.00">-1.00</option>
                                    <option value="-1.50">-1.50</option>
                                    <option value="-2.00">-2.00</option>
                                </select>
                                
                                <p class="selectgift__select__qty">
                                    <button class="selectgift__select__qty--minus">-</button>
                                    <span class="selectgift__select__qty--value">1</span>
                                    <button class="selectgift__select__qty--plus">+</button>
                                </p>
                            </div>  
                        </li>
                        <li class="selectgift__select__list">
                            <figure class="freegift__popup__img">
                                <img src="../../src/images/olenz/img-freegift.png">
                                <input type="checkbox" id="selectgift__item06">
                                <label class="selectgift__select__item" for="selectgift__item06"></label>
                            </figure>

                            <div class="selectgift__select__info">
                                <p class="selectgift__select__name">Scandi Hazel</p>
                                
                                <select class="selectgift__select__power" name="power__select">
                                    <option value="-1.00">select</option>
                                    <option value="-1.00">-1.00</option>
                                    <option value="-1.50">-1.50</option>
                                    <option value="-2.00">-2.00</option>
                                </select>
                                
                                <p class="selectgift__select__qty">
                                    <button class="selectgift__select__qty--minus">-</button>
                                    <span class="selectgift__select__qty--value">1</span>
                                    <button class="selectgift__select__qty--plus">+</button>
                                </p>
                            </div>  
                        </li>
                        <li class="selectgift__select__list">
                            <figure class="freegift__popup__img">
                                <img src="../../src/images/olenz/img-freegift.png">
                                <input type="checkbox" id="selectgift__item07">
                                <label class="selectgift__select__item" for="selectgift__item07"></label>
                            </figure>

                            <div class="selectgift__select__info">
                                <p class="selectgift__select__name">Scandi Hazel</p>
                                
                                <select class="selectgift__select__power" name="power__select">
                                    <option value="-1.00">select</option>
                                    <option value="-1.00">-1.00</option>
                                    <option value="-1.50">-1.50</option>
                                    <option value="-2.00">-2.00</option>
                                </select>
                                
                                <p class="selectgift__select__qty">
                                    <button class="selectgift__select__qty--minus">-</button>
                                    <span class="selectgift__select__qty--value">1</span>
                                    <button class="selectgift__select__qty--plus">+</button>
                                </p>
                            </div>  
                        </li>
                    </ul>
                </div>
            </div>
        </section>

    </body>
</html>