<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>moment()의 소중함</title>
    <!-- css -->
    <link rel="stylesheet" href="/dist/css/main.css">
    <!-- 내부 js -->
    <script src="/dist/js/main.js"></script>
</head>
<body id="pcJiwonGetDate">
    <p>아래에 알고싶은 날짜를 입력해주세요.</p>
    <span>ex) 2021.01.23</span>
    
    <label>
        <input id="test" type="num" maxlength="8">
    </label>

    <!-- <select name="date" id="">
        <option value="5"></option>
    </select> -->
</body>
</html>