<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <title>오렌즈 추가개발 - 리뷰 </title>
        <!-- css -->
        <link rel="stylesheet" href="/dist/css/main.css">
        <!-- 내부 js -->
        <script src="/dist/js/main.js"></script>
    </head>
    <body id="olenzReview" class="fb">
        <section class="fb__reviewPop">
            <div class="fb__reviewPop__layer show">
                <header class="fb__reviewPop__header">
                    <h2 class="fb__reviewPop__title">Photo Review</h2>
                    <button class="fb__reviewPop__close">닫기</button>
                </header>

                <main class="fb__reviewPop__main">
                    <div class="fb__reviewPop__allReview">
                        <nav class="allReview__button">
                            <button class="allReview__button--prev">이전</button>
                            <button class="allReview__button--next">다음</button>
                        </nav>
    
                        <ul class="allReview__slider">
                            <li class="allReview__slide">
                                <a href="#" class="allReview__link">
                                    <figure class="allReview__image">
                                        <img src="">  
                                    </figure>
                                </a>
                            </li>
                            <li class="allReview__slide">
                                <a href="#" class="allReview__link">
                                    <figure class="allReview__image">
                                        <img src="">  
                                    </figure>
                                </a>
                            </li>
                            <li class="allReview__slide">
                                <a href="#" class="allReview__link">
                                    <figure class="allReview__image">
                                        <img src="">  
                                    </figure>
                                </a>
                            </li>
                            <li class="allReview__slide">
                                <a href="#" class="allReview__link">
                                    <figure class="allReview__image">
                                        <img src="">  
                                    </figure>
                                </a>
                            </li>
                            <li class="allReview__slide">
                                <a href="#" class="allReview__link">
                                    <figure class="allReview__image">
                                        <img src="">  
                                    </figure>
                                </a>
                            </li>
                            <li class="allReview__slide">
                                <a href="#" class="allReview__link">
                                    <figure class="allReview__image">
                                        <img src="">  
                                    </figure>
                                </a>
                            </li> 
                        </ul>
                    </div>
                    
                    <div class="fb__reviewPop__selectReview">
                        <ul class="selectReview__slider">
                            <nav class="selectReview__button">
                                <button class="selectReview__button--prev">이전</button>
                                <button class="selectReview__button--next">다음</button>
                            </nav>
    
                            <li class="selectReview__slide">
                                <a href="#" class="selectReview__link">
                                    <figure class="selectReview__image">
                                        <img src="">
                                    </figure>
                                </a>
                            </li>
                            
                            <div class="selectReview__pagenation">
                                <em class="selectReview__pagenation--current">1</em>/<!--
                            --><span class="selectReview__pagenation--total">3</span>
                            </div>
                        </ul>
    
                        <section class="selectReview__cont">
                            <h3 class="selectReview__cont__title--hidden">Review Detail</h3>
                            <ul>
                                <li class="selectReview__cont__info">
                                    <span class="selectReview__cont__score--null">
                                        <em class="selectReview__cont__score--full"></em>
                                    </span>
                                    <span class="selectReview__cont__writer">nay***</span>
                                    <p class="selectReview__cont__name">SPANSISH BROWN</p>
                                    <span class="selectReview__cont__eyeColor">Dark Brown Eyes</span>
                                    <span class="selectReview__cont__colorChip">Natural</span>
                                </li>
    
                                <li class="selectReview__cont__product">
                                    <a href="#" class="selectReview__cont__link">
                                        <figure class="selectReview__cont__image">
                                            <img src="" >
                                        </figure>
                                    </a>
                                </li>
    
                                <li class="selectReview__cont__scroll">
                                    Color-Good Blue lenses are So hard to come by bevause I feel like it might be hard for brands to create a bright, light colored contact that covers dark eyer well and really shows that impact.
                                </li>
                            </ul>
                            
                            <dd></dd>
                        </section>
    
                    </div>
                </main>
            </div>
        </section>

        
    </body>
</html>