<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오늘의 할일</title>
     <!-- css -->
     <link rel="stylesheet" href="/dist/css/main.css">
     <!-- 내부 js -->
     <script src="/dist/js/main.js"></script>
</head>
<body class="fb" id="todoList">
    <section class="fb__todo">
        <div class="fb__todo__header">
            <h2 class="fb__todo__title">TODOLIST</h2>
            <p class="fb__todo__today">
                <span class="today__year">2021</span><!--
            --><span class="today__month">03</span><!--
            --><span class="today__date">25</span><!--
            --><span class="today__day">목요일</span>
            </p>
            <form class="fb__todo__addlist">
                <input type="text" value="">
                <button type="submit" class="fb__button js__addlist__add">추가</button>
            </form>
            <ul class="fb__todo__count"> 
                <!-- 클래스 네이밍 수정하기 -->
                <li class="fb__todo__total">
                    <span class="fb__todo__total--name">전체</span>
                    <em class="fb__todo__total--value js__total">99</em>
                </li>
                <li class="fb__todo__doing">
                    <span class="fb__todo__doing--name">진행중</span>
                    <em class="fb__todo__doing--value js__doing">99</em>
                </li>
                <li class="fb__todo__done">
                    <span class="fb__todo__done--name">진행완료</span>
                    <em class="fb__todo__done--value js__done">99</em>
                </li>
            </ul>
        </div>
        <div class="fb__todo__content">
            <div class="fb__todo__scroll">
                <dl class="fb__todo__list">
                    <dt class="fb__todo__inner">
                        <p class="fb__todo__text js__text">
                            내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다.
                        </p>
                        <span class="fb__todo__date">2021.03.25 목요일</span>
                    </dt>
                    <dd class="fb__todo__controller">
                        <button class="fb__todo__controller--rewrite js__controller__rewrite">수정</button>
                        <button class="fb__todo__controller--delete js__controller__delete">삭제</button>
                    </dd>
                    <form class="fb__todo__update first">
                        <input type="text" value="">
                        <button class="fb__button js__update__push">확인</button>
                        <button type="button" class="fb__button js__update__cancel">취소</button>
                    </form>
                </dl>
                <dl class="fb__todo__list">
                    <dt class="fb__todo__inner">
                        <p class="fb__todo__text js__text checked">
                            내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다.
                        </p>
                        <span class="fb__todo__date">2021.03.25 목요일</span>
                    </dt>
                    <dd class="fb__todo__controller">
                        <button class="fb__todo__controller--rewrite js__controller__rewrite">수정</button>
                        <button class="fb__todo__controller--delete js__controller__delete">삭제</button>
                    </dd>
                    <form class="fb__todo__update">
                        <input type="text" value="">
                        <button class="fb__button js__update__push">확인</button>
                        <button type="button" class="fb__button js__update__cancel">취소</button>
                    </form>
                </dl>
                <dl class="fb__todo__list">
                    <dt class="fb__todo__inner">
                        <p class="fb__todo__text js__text">
                            도서관에 책 반납하기
                        </p>
                        <span class="fb__todo__date">2021.03.25 목요일</span>
                    </dt>
                    <dd class="fb__todo__controller">
                        <button class="fb__todo__controller--rewrite js__controller__rewrite">수정</button>
                        <button class="fb__todo__controller--delete js__controller__delete">삭제</button>
                    </dd>
                    <form class="fb__todo__update">
                        <input type="text" value="">
                        <button class="fb__button js__update__push">확인</button>
                        <button type="button" class="fb__button js__update__cancel">취소</button>
                    </form>
                </dl>
                <dl class="fb__todo__list">
                    <dt class="fb__todo__inner">
                        <p class="fb__todo__text js__text">
                            도시락 싸들고 수리산 등반하기. 도시락 싸들고 수리산 등반하기. 도시락 싸들고 수리산 등반하기. 도시락 싸들고 수리산 등반하기. 도시락 싸들고 수리산 등반하기. 도시락 싸들고 수리산 등반하기. 도시락 싸들고 수리산 등반하기.도시락 싸들고 수리산 등반하기.도시락 싸들고 수리산 등반하기.도시락 싸들고 수리산 등반하기. 
                        </p>
                        <span class="fb__todo__date">2021.03.25 목요일</span>
                    </dt>
                    <dd class="fb__todo__controller">
                        <button class="fb__todo__controller--rewrite js__controller__rewrite">수정</button>
                        <button class="fb__todo__controller--delete js__controller__delete">삭제</button>
                    </dd>
                    <form class="fb__todo__update">
                        <input type="text" value="">
                        <button class="fb__button js__update__push">확인</button>
                        <button type="button" class="fb__button js__update__cancel">취소</button>
                    </form>
                </dl>
            </div>
        </div>
    </section>
</body>
</html>