<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오늘의 할일</title>
     <!-- css -->
     <link rel="stylesheet" href="/dist/css/main.css">
     <!-- 내부 js -->
     <script src="/dist/js/main.js"></script>
</head>
<body class="fb" id="todoFeedback">
    <section class="fb__todo">
        <div class="fb__todo__header">
            <h2 class="fb__todo__title">TODOLIST</h2>
            <p class="fb__todo__today">2021.03.25 목요일</p>
            <form class="fb__todo__addlist">
                <input type="text" value="">
                <button class="fb__button js__addlist__add">추가</button>
            </form>
            <ul class="fb__todo__count"> 
                <li class="fb__todo__total">
                    <span class="fb__todo__total--name">전체</span>
                    <em class="fb__todo__total--value">99</em>
                </li>
                <li class="fb__todo__doing">
                    <span class="fb__todo__doing--name">진행중</span>
                    <em class="fb__todo__doing--value">99</em>
                </li>
                <li class="fb__todo__done">
                    <span class="fb__todo__done--name">진행완료</span>
                    <em class="fb__todo__done--value">99</em>
                </li>
            </ul>
        </div>
        <div class="fb__todo__content">
            <div class="fb__todo__scroll">
                <dl class="fb__todo__list">
                    <dt class="fb__todo__inner">
                        <p class="fb__todo__text">내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다.</p>
                        <span class="fb__todo__date">2021.03.25 목요일</span>
                    </dt>
                    <dd class="fb__todo__controller">
                        <button class="fb__todo__controller--rewrite js__controller__rewrite">수정</button>
                        <button class="fb__todo__controller--delete js__controller__delete">삭제</button>
                    </dd>
                    <form class="fb__todo__update">
                        <input type="text" value="">
                        <button class="fb__button js__update__push">수정</button>
                        <button class="fb__button js__update__cancle">취소</button>
                    </form>
                </dl>
                <dl class="fb__todo__list">
                    <dt class="fb__todo__inner">
                        <p class="fb__todo__text">내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다.</p>
                        <span class="fb__todo__date">2021.03.25 목요일</span>
                    </dt>
                    <dd class="fb__todo__controller">
                        <button class="fb__todo__controller--rewrite js__controller__rewrite">수정</button>
                        <button class="fb__todo__controller--delete js__controller__delete">삭제</button>
                    </dd>
                    <form class="fb__todo__update">
                        <input type="text" value="">
                        <button class="fb__button js__update__push">수정</button>
                        <button class="fb__button js__update__cancle">취소</button>
                    </form>
                </dl>
                <dl class="fb__todo__list">
                    <dt class="fb__todo__inner">
                        <p class="fb__todo__text">내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다.</p>
                        <span class="fb__todo__date">2021.03.25 목요일</span>
                    </dt>
                    <dd class="fb__todo__controller">
                        <button class="fb__todo__controller--rewrite js__controller__rewrite">수정</button>
                        <button class="fb__todo__controller--delete js__controller__delete">삭제</button>
                    </dd>
                    <form class="fb__todo__update">
                        <input type="text" value="">
                        <button class="fb__button js__update__push">수정</button>
                        <button class="fb__button js__update__cancle">취소</button>
                    </form>
                </dl>
                <dl class="fb__todo__list">
                    <dt class="fb__todo__inner">
                        <p class="fb__todo__text">내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다.</p>
                        <span class="fb__todo__date">2021.03.25 목요일</span>
                    </dt>
                    <dd class="fb__todo__controller">
                        <button class="fb__todo__controller--rewrite js__controller__rewrite">수정</button>
                        <button class="fb__todo__controller--delete js__controller__delete">삭제</button>
                    </dd>
                    <form class="fb__todo__update">
                        <input type="text" value="">
                        <button class="fb__button js__update__push">수정</button>
                        <button class="fb__button js__update__cancle">취소</button>
                    </form>
                </dl>
                <dl class="fb__todo__list">
                    <dt class="fb__todo__inner">
                        <p class="fb__todo__text">내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다.</p>
                        <span class="fb__todo__date">2021.03.25 목요일</span>
                    </dt>
                    <dd class="fb__todo__controller">
                        <button class="fb__todo__controller--rewrite js__controller__rewrite">수정</button>
                        <button class="fb__todo__controller--delete js__controller__delete">삭제</button>
                    </dd>
                    <form class="fb__todo__update">
                        <input type="text" value="">
                        <button class="fb__button js__update__push">수정</button>
                        <button class="fb__button js__update__cancle">취소</button>
                    </form>
                </dl>
                <dl class="fb__todo__list">
                    <dt class="fb__todo__inner">
                        <p class="fb__todo__text">내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다.</p>
                        <span class="fb__todo__date">2021.03.25 목요일</span>
                    </dt>
                    <dd class="fb__todo__controller">
                        <button class="fb__todo__controller--rewrite js__controller__rewrite">수정</button>
                        <button class="fb__todo__controller--delete js__controller__delete">삭제</button>
                    </dd>
                    <form class="fb__todo__update">
                        <input type="text" value="">
                        <button class="fb__button js__update__push">수정</button>
                        <button class="fb__button js__update__cancle">취소</button>
                    </form>
                </dl>
                <dl class="fb__todo__list">
                    <dt class="fb__todo__inner">
                        <p class="fb__todo__text">내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다.</p>
                        <span class="fb__todo__date">2021.03.25 목요일</span>
                    </dt>
                    <dd class="fb__todo__controller">
                        <button class="fb__todo__controller--rewrite js__controller__rewrite">수정</button>
                        <button class="fb__todo__controller--delete js__controller__delete">삭제</button>
                    </dd>
                    <form class="fb__todo__update">
                        <input type="text" value="">
                        <button class="fb__button js__update__push">수정</button>
                        <button class="fb__button js__update__cancle">취소</button>
                    </form>
                </dl>
                <dl class="fb__todo__list">
                    <dt class="fb__todo__inner">
                        <p class="fb__todo__text">내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다. 내용 영역입니다.</p>
                        <span class="fb__todo__date">2021.03.25 목요일</span>
                    </dt>
                    <dd class="fb__todo__controller">
                        <button class="fb__todo__controller--rewrite js__controller__rewrite">수정</button>
                        <button class="fb__todo__controller--delete js__controller__delete">삭제</button>
                    </dd>
                    <form class="fb__todo__update show">
                        <input type="text" value="">
                        <button class="fb__button js__update__push">수정</button>
                        <button class="fb__button js__update__cancle">취소</button>
                    </form>
                </dl>
            </div>
        </div>
    </section>
</body>
</html>