<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ajax 연습</title>
    <!-- css -->
    <link rel="stylesheet" href="/dist/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- 내부 js -->
    <script src="/dist/js/main.js"></script>
    <style>
        .table { width: 50%; }

        .s1 { color: red; }
        .s2 { color: orange; }
        .s3 { color: green; }
        .s4 { color: blue; }
        .s5 { color: purple; }

    </style>
</head>
<body id="tableJSON">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th></th>
                <th>이름</th>
                <th>성별</th>
            </tr>
        </thead>
    </table>

    <ul>
        <li>ㅇㅇㅇ</li>
        <li>ㅇㅇㅇ</li>
        <li>ㅇㅇㅇ</li>
        <li>ㅇㅇㅇ</li>
        <li>ㅇㅇㅇ</li>
    </ul>
</body>
</html>