.mo {
    width: rem(640px);

    &__freegift {

        .freegift {
            
            &__header {
                position: relative;
                height: rem(100px);
                margin: rem(0 25px);
                padding: rem(47px 160px 0 0);
                border-bottom: #f0f0f0 rem(2px) solid;

                &__button {
                    position: absolute;
                    right: 0;
                    bottom: rem(13px);
                    width: rem(160px);
                    height: rem(64px);
                    background: #fff;
                    border: rem(2px) solid #ccc;
                    color: #555;
                    font-family: 'OpenSans-Regular';
                    font-size: rem(24px);
                }
            }

            &__title {
                font-family: 'OpenSans-Regular';
                font-size: rem(26px);
                line-height: 1;
            }

            &__cont {
                margin: rem(24px);
                
            }
            
            &__selected {
                padding: rem(22px);
                background: #f8f8f8;

                &.freegift__selected--null {
                    .freegift__selected {
                        &__list {
                        }
                        &__info {
                            // overflow: hidden;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            width: 100%;
                            padding: initial;
                            text-align: center;
                            transform: translate(0, -50%);

                            p {
                                font-family: 'OpenSans-Light';
                                font-size: rem(22px);
                                line-height: 1.3;
                            }
                        }
                    }
                }

                &__list {
                    position: relative;
                    width: 100%;
                    min-height: rem(180px);
                    padding: rem(22px);
                    background: #fff;

                    &:not(:first-child) {
                        margin-top: rem(20px);
                    }
                }

                &__img {
                    overflow: hidden;
                    position: absolute;
                    top: rem(22px);
                    left: rem(22px);
                    width: rem(120px);
                    height: rem(135px);

                    img {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: auto;
                        margin: auto;
                    }
                }

                &__info {
                    padding-left: rem(148px);
                }
                
                &__name {
                    display: -webkit-box;
                    overflow: hidden;
                    height: rem(60px);
                    margin-bottom: rem(12px);
                    font-family: 'OpenSans-Regular';
                    font-size: rem(22px);
                    line-height: 1.3;
                    text-overflow: ellipsis;
                    text-align: left;
                    word-wrap: break-word;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }

                &__power {
                    margin-bottom: rem(12px);
                    color: #555;
                    font-family: 'OpenSans-Light';
                    font-size: rem(22px);
                }   

                &__qty {
                    color: #555;
                    font-family: 'OpenSans-Light';
                    font-size: rem(22px);
                }
            }

            &__notice {
                margin: rem(5px 24px 40px);

                &__list {
                    overflow: hidden;
                    position: relative;
                    padding-left: rem(20px);
                    margin-bottom: 20px;
                    color: #888;
                    font-family: 'OpenSans-Light';
                    font-size: rem(20px);
                    line-height: 1.3;

                    &:after {
                        position: absolute;
                        top: rem(10px);
                        left: 0;
                        width: rem(6px);
                        height: rem(6px);
                        background: #888;
                        border-radius: 50%;
                        content: "";
                    }
                }
            }
        }
    }

    &__selectgift {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #f2f2f2;

        .selectgift {

            .freegift {
                &__header {
                    position: relative;
                    height: rem(95px);
                    padding-top: rem(30px);
                    background: #fff;
                    border-bottom: rem(2px) solid #e6e6e6; 
                    text-align: center;

                }
                
                &__title {
                    font-family: 'OpenSans-Regular';
                    font-size: rem(32px);
                }
            }
            
            &__close {
                position: absolute;
                top: rem(35px);
                right: rem(33px);
                width: rem(24px);
                height: rem(24px);
                font-size: 0;
                background: none;
                border: none;

                &:after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: rem(24px);
                    height: rem(24px);
                    background: url(../images/olenz/btn-close-mo.png)no-repeat 0 0 / rem(24px 24px);
                    content: "";
                }
            }
            &__top {
                height: rem(86px);
                padding-top: rem(40px);
                

                em {
                    font-family: 'OpenSans-SemiBold';
                    font-size: rem(26px);
                }
                span {
                    font-family: 'OpenSans-Light';
                    font-size: rem(26px);
                }
            }

            &__cont {
                margin-top: rem(14px);
                padding: rem(0 24px);
                background: #fff;
            }

            &__select {
                
                &__list {
                    position: relative;
                    min-height: rem(238px);
                    padding: rem(30px 0);
                    border-bottom: rem(2px) solid #e6e6e6;

                    .freegift__popup__img {
                        position: absolute;
                        top: rem(30px);
                        left: 0;
                        width: rem(140px);
                        height: rem(150px);

                        img {
                           position: absolute;
                           top: 0;
                           right: 0;
                           bottom: 0;
                           left: 0;
                           width: 100%;
                           height: auto;
                           margin: auto;
                        }

                        input[id*="selectgift__item"] {
                            display: none;
                        }

                        input[id*="selectgift__item"]:checked + label {
                            position: absolute;
                            top: 0;
                            left: 0;
                            background: rgba(0,0,0,.4) url(../images/olenz/btn-check-mo.png)no-repeat rem(48px 62px) / rem(46px 35px);
                        }
                    }
                }

                &__item {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: rem(140px);
                    height: rem(150px);
                }
                
                &__info {
                    padding-left: rem(160px);
                }

                &__name {
                    display: block;
                    display: -webkit-box;
                    overflow: hidden;
                    height: rem(52px);
                    margin-bottom: rem(30px);
                    font-family: 'OpenSans-Regular';
                    font-size: rem(22px);
                    line-height: rem(26px);
                    text-overflow: ellipsis;
                    text-align: left;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    word-wrap: break-word;
                }

                &__power {
                    width: rem(430px);
                    height: rem(72px);
                    margin-bottom: rem(20px);
                    padding-left: rem(25px);
                    background: url(../images/olenz/btn-select.png)no-repeat calc(100% - 0.75rem) center / rem(22px 13px);
                    appearance: none;
                }

                &__qty {
                    position: relative;
                    width: rem(154px);
                    height: rem(38px);
                    border: rem(2px) solid #ccc;
                    text-align: center;
                    box-sizing: initial;

                    &--minus {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: rem(38px);
                        height: rem(38px);
                        background: url(../images/olenz/btn-gift-minus.png)no-repeat center center / rem(7px 1px);
                        border-right: rem(2px) solid #ccc;
                        font-size: 0;
                    }

                    &--plus {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: rem(38px);
                        height: rem(38px);
                        background: url(../images/olenz/btn-gift-plus.png)no-repeat center center / rem(7px 7px);
                        border-left: rem(2px) solid #ccc;
                        font-size: 0;
                        
                    }
                }
            }
        }
    }

    
}