<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <title>TodoList</title>
        <link rel="stylesheet" href="/dist/css/main.css">        
        <script src="/dist/js/main.js"></script>
    </head>
    <body id="pcMinjuTodo" class="fb__minjuTodo">

        <!-- 투두 리스트 -->
        <section class="todo__container">

            <div class="todo__header">
                <!-- 헤더 탑 영역-->
                <div class="todo__top">
                    <h2 class="todo__title">TodoList</h2>
                    <span class="todo__today js__today"></span>
                </div>

                <!-- 입력 인풋 -->
                <form class="todo__insert">
                    <input type="text" id="js__insert" class="todo__insert__input" placeholder=" 할 일을 입력하세요.">
                    <button type="button" class="todo__insert__btnAdd js__btnAdd">+</button>
                </form>
    
                <!-- 전체/진행중/완료 카운트 -->
                <ul class="todo__count">
                    <li class="todo__count__box"> 
                        <span class="todo__count__title">전체</span>
                        <em class="todo__count__value js__count__value js__allCnt">0</em>
                    </li>
                    <li class="todo__count__box"> 
                        <span class="todo__count__title">진행중</span>
                        <em class="todo__count__value js__count__value js__ing">0</em>
                    </li>
                    <li class="todo__count__box"> 
                        <span class="todo__count__title">진행완료</span>
                        <em class="todo__count__value js__count__value js__done">0</em>
                    </li>
                </ul>

            </div>
            
            <!-- 리스트 -->
            <div class="todo__list">
                <ul class="todo__list__box js__list__box"></ul>
            </div>

           <div class="todo__footer">
                <!-- 전체삭제 -->
                <button type="button" class="todo__footer__btnAllDelete js__btnAllDelete">전체 삭제</button>
           </div> 
           
        </section>
        <!-- 투두 리스트 // -->
    </body>
</html>