
%clear {
    &:after {
        display: block;
        clear: both;
        content: "";
    }
}

%scroll {
    overflow-y: hidden;
    overflow-x: auto;
    margin-bottom: rem(-5px);
    padding-bottom: rem(5px);
    white-space: nowrap;
    font-size: 0;

    &::-webkit-scrollbar {
        display: none;

        &-thumb {
            display: none;
        }

        &-button {
            display: none;
        }
    }
}

//image url
@function src($folder: 'guide', $filename: "") {
    @return  "../images/svg/#{$folder}/#{$filename}";
}

//font
@mixin fontcss($color: $black, $weight: 200, $size: rem(14px), $lineheight: 1) {
    @if ($color) {
        color: $color;
    }
    @if ($weight) {
        font-weight: $weight;
    }
    @if ($size) {
        font-size: $size;
    }
    @if ($lineheight) {
        line-height: $lineheight;
    }
}


//이미지 리사이징
@mixin imageResize($type: "width") {
    overflow: hidden;
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    
        @if ($type == "width") {
            width: 100%;
            height: auto;
        }
        @else if ($type == "height") {
            width: auto;
            height: 100%;
        }
        @else if ($type == "auto") {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }
}

@mixin line($lineCount: 1) {
    /* 사용법 : @include line(라인수) */
    @if ($lineCount == 1) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    } @else {
        /* autoprefixer: off */
        -webkit-box-orient: vertical;
        /* autoprefixer: on */
        display: block;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        -webkit-line-clamp: $lineCount;
    }
}


@import "./divide/font.scss";
@import "swiper/swiper-bundle.css";

/* [PC] */
//공통
@import "./divide/pc/reset.scss";
@import "./divide/pc/common.scss";

//페이지별
@import "./divide/pc/olnesReview.scss";
@import "./divide/pc/jiwonTodo.scss";
@import "./divide/pc/jiwonJoinUs.scss";
@import "./divide/pc/jiwonFilter.scss";
@import "./divide/pc/minjuTodo.scss";


/* [MOBILE] */
//vw 사용하는 페이지
@import "./library/vw.scss";
@import "./divide/mobile/reset.scss";
@import "./divide/mobile/common.scss";


//오렌즈 전용 (이제는 사용하지 않습니다.)
@import "../../node_modules/sass-rem/_rem.scss";

$rem-baseline: 20px;

html,body {
    @include rem-baseline;
    font-size: 125%;
    -webkit-text-size-adjust:none; 
}

//페이지별
@import "./divide/mobile/olensFreegift.scss";