.fb {
    &.scroll--lock {
        overflow: hidden;
    }
    
    &__title {
        color: #000;
        font-weight: bold;
        font-size: vw(30px);

        &--hidden {
            font-size: 0;
            line-height: 0;
        }
    }
}